# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
terraform.tfvars
variables.tf

# Ignore package.json only in non-source folders
infra/**/package.json
docker/**/package.json

# Docker / Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# Environment variables
.env
.env.local
.env.production
